<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HwSProject2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0251E54A1F1446C600F8A064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0251E5611F1446C600F8A064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0251E56C1F1446C600F8A064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
